[build]
  publish = "dist"
  command = "npm run build"

# Handle client-side routing
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Force HTTPS
[[redirects]]
  from = "http://24-7-school.netlify.app/*"
  to = "https://24-7-school.netlify.app/:splat"
  status = 301
  force = true

[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--production=false"
